<!--

    Veja mais detalhes em extras 1 e extras 3

-->
<header class="header-main">
    <h1 routerLink="produtos" class="title-main">
        <span class="title-main-kaide">KAIDE</span><span class="title-main-store">Store</span>
    </h1>
    <div class="caixa">
        <app-barra-pesquisa></app-barra-pesquisa>
        <nav class="menu-list">
            <ul>
                <li>
                    <a routerLink="/contato" ><i class="fa-solid fa-house"></i></a>
                </li>
                <li>
                    <a routerLink="/carrinho"><i class="fa-solid fa-cart-shopping"></i> : <span>{{ carrinho.obterCarrinho().length }}</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com.br/" ><i class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a><i class="fa-brands fa-x-twitter"></i></a>
                </li>
                <li>
                    <a><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</header>
