<footer>
    <div class="about">
        <section>
            <h1 class="about-title">
                Sobre:
            </h1>
            <p class="about-title-description">
                Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
            </p>
        </section>
        <address class="contatos">
            <h2 class="contatos-title">
                Nossos contatos:
            </h2>
            <ul>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>
                        Email: gluglukaide@gmail.com
                    </p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>
                        Telefone: (00) 0000-0000
                    </p>
                </li>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    <p>
                        whatsapp: (+55)(00) 0000-0000
                    </p>
                </li>
            </ul>
        </address>
    </div>
    <div class="copy">
        &copy; Todos os diretos reservados 2024
    </div>
</footer>
